

<div class="container color-dark">
  <div class="col">
    <p>Readme</p>
  </div>
  <div class="col">
    <p>Please specify your info: </p>
  </div>
</div>

<div class="container color-light">
  <div class="col">

    <br><textarea class ="textarea ng-invalid"   name="item" rows="12"  cols="50" placeholder="Wilkommen!
        Bitte beschreiben Sie Ihre Vision, Mission und strategische Ziele.

        Phasen:
        1. Start
        2. IST-Zustand
        3. ZIEL-Zustand
        4. Maßnahmen
        5. Evaluation"></textarea><br>

    <br><textarea class ="textarea ng-invalid" type="textarea"  name="item" rows="12" cols="50" placeholder="Motivation
        - Strategische Ausrichtung
        - Problemlösung
        - Anstoß durch Messen etc. „Ideengenerierung“)
        Ergebnisse
        - Grober IST-Reifegrad („Quick-Check“)
        - Problembeschreibung
        - Vorläufige Zieldefinition" ></textarea><br>

  </div>



  <div class="col">

    <br><textarea class ="textarea ng-valid" name="item" rows="5" cols="50" placeholder="Vision ..."></textarea><br>

    <br><textarea class ="textarea ng-valid"  name="item" rows="5" cols="50"
                placeholder="Mission ..." required></textarea><br>

    <br><textarea class ="textarea ng-valid"  name="item" rows="5" cols="50"
                placeholder="Strategische Ziele: Lieferfähigkeit erhöhen ..." required></textarea><br>

    <video width="500" height="280" controls>
      <source src="assets/video/bear.mp4" type="video/mp4">
      <source src="assets/video/bear.ogg" type="video/ogg">
      Your browser does not support the video tag.
    </video>

    <form>
      <input type="submit" class="btn" value="upload your video" >
    </form>

  </div>

  <div class="col">
  <p>new data goes to here:</p>

  <ul>
    <li *ngFor="let goal of goals">
      {{goal}}
    </li>
  </ul>

  <!--<table>-->
    <!--<thead>-->
    <!--<tr *ngFor="let goal of goals">-->
      <!--<th>{{goal}}</th>-->
    <!--</tr>-->
    <!--</thead>-->
  <!--</table>-->
</div>
</div>


