.container {
  display: grid;
  grid-template-columns: 50% auto;
}
.col {
  padding: .4em 1.3em;
}
.color-dark {
  background: #2885C4;
}
.color-light {
  background: #57B3F1;
  opacity: 50;
}

.textarea.ng-invalid {
  background-color: rgba(211,211,211, 0.8);
  width: 80%;
}
.textarea.ng-valid {
  background-color: white;
  width: 80%;
}

input.btn {
  border: 0;
  display:block;
  padding:1em 3em;
  background:brown;
  color:white;
  margin-bottom:1em;
  cursor:pointer;
}
